@font-face {
  font-family: "Helvetica-Neu";
  src: url("/static/fonts/Helvetica-Neu.ttf") format("truetype");
}

body {
  font-family: "Helvetica-Neu";
  margin: 15px;
}

.project {
  &__text {
    letter-spacing: -0.7px;
    text-transform: uppercase;

    span {
      display: inline-block;
      margin-right: 5px;

      @media (min-width: 1024px) {
        margin-right: 15px;
      }
    }
  }
}

.contact {
  ul {
    li {
      display: inline-block;
      margin-right: 15px;

      &:nth-child(n + 4) {
        margin-top: 35px;
      }

      a {
        border: 1px solid #000;
        padding: 12px;
        border-radius: 34px;
        color: #000;
        text-decoration: none;
      }
    }
  }
}

.lettering {
  margin-bottom: 20px;

  img {
    width: 100%;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact {
  margin-top: 20px;

  a {
    text-transform: uppercase;
  }
}

footer {
  font-size: 13px;
  display: flex;
  margin-top: 40px;

  a {
    color: #000;
  }

  span {
    flex-grow: 1;
  }
}

header {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
}

.projects {
  margin: 20px auto;
  font-size: 20px;

  &__header {
    font-weight: 600;
  }
}

@media (min-width: 1024px) {
  body {
    margin: 20px;
  }

  header {
    font-size: 40px;
    line-height: 45px;
  }

  .lettering {
    margin-bottom: 30px;
  }

  .projects {
    margin-top: 30px;
    font-family: "serif";
    font-size: 40px;

    &__header {
      font-family: "Helvetica-Neu";
    }

    ul {
      li {
        display: block;

        span {
          font-family: "Helvetica-Neu";
        }
      }
    }
  }

  .contact {
    font-size: 40px;
    margin-top: 50px;
  }
}
