@font-face {
  font-family: "Helvetica-Neu";
  src: url("/static/fonts/Helvetica-Neu.ttf") format("truetype");
}

body {
  font-family: "Helvetica-Neu";
  margin: 15px;
}

.wrapper {
  max-width: 400px;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: none;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
  }
}

////////

h5 {
  flex-grow: 1;
  margin: 0;
  font-weight: 300;
}

video {
  height: auto;
  width: 500px;
}

h4 {
  font-size: 45px;
}

h5 {
  font-size: 25px;
}

p {
  margin: 0 0 0 20px;
  font-size: 22px;
  line-height: 28px;
}

.project {
  margin-bottom: 35px;

  &__left {
    flex-grow: 1;
    margin-right: 25px;

    @media (min-width: 1024px) {
      margin-top: 6px;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    margin-top: 25px;

    h5 {
      width: 100%;
      font-size: 15px;

      span {
        display: block;
      }
    }

    @media (min-width: 1024px) {
      h5 {
        font-size: 18px;
				
				&:first-child {
					margin-right: 27px;
				}

        span {
          display: inline;
        }
      }
    }
  }

  &__right {
    position: relative;
    flex-grow: 1;

    p {
      margin: 10px 0 0 0;
      font-size: 14px;
      line-height: 18px;
    }

    a {
      color: #000;
      font-size: 16px;
      position: relative;
      text-transform: uppercase;
      top: 10px;
    }

    @media (min-width: 1024px) {
      p {
        margin: 0;
        font-size: 34px;
        line-height: 40px;
      }

      a {
        position: absolute;
        bottom: 8px;
        top: unset;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
      flex-direction: row;

      &.left-empty {
        a {
          bottom: -25px;
        }

        .project__right p {
          max-width: 905px;
          margin-bottom: 10px;
        }
      }
    }
  }

  &__text {
    display: inline-block;
    letter-spacing: -0.7px;
    text-transform: uppercase;
    position: relative;

    @media (min-width: 1024px) {
      &:before {
        content: "";
        width: 0;
        position: absolute;
        left: -10px;
        bottom: -10px;
        padding: 0;
        background-image: linear-gradient(white, #ffff00, white);
        height: 100%;
        z-index: -1;
        transition: width 0.7s;
      }

      &:hover {
        cursor: pointer;

        &::before {
          padding: 10px;
          width: 100%;
        }
      }

      font-size: 45px;
    }

    span {
      display: inline-block;
      margin-right: 5px;

      @media (min-width: 1024px) {
        margin-right: 10px;
        font-size: 43px;
      }
    }
  }
}

.contact {
  ul {
    li {
      display: inline-block;
      margin-right: 15px;

      &:nth-child(n + 4) {
        margin-top: 35px;
      }

      a {
        border: 1px solid #000;
        padding: 12px;
        border-radius: 34px;
        color: #000;
        text-decoration: none;
      }
    }
  }
}

.lettering {
  margin-bottom: 20px;

  img {
    width: 100%;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact {
  margin-top: 20px;

  a {
    text-transform: uppercase;
    transition: padding 200ms ease-in-out;
  }
}

footer {
  font-size: 13px;
  display: flex;
  margin-top: 40px;

  a {
    color: #000;
  }

  span {
    flex-grow: 1;
  }
}

h2 {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.5px;
  font-weight: 600;
  margin: 0 0 20px;

  a {
    color: #000;
    position: relative;

    @media (min-width: 1024px) {
      &:before {
        content: "";
        width: 0;
        position: absolute;
        left: -10px;
        bottom: -10px;
        padding: 0;
        background-image: linear-gradient(white, #00bfff, white);
        height: 100%;
        z-index: -1;
        transition: width 0.9s;
      }

      &:hover {
        &::before {
          padding: 10px;
          width: 100%;
        }
      }
    }
  }
}

.projects {
  margin: 0 auto;
  font-family: "serif";
  font-size: 20px;

  &__header {
    font-weight: 600;
    font-family: "Helvetica-Neu";
  }
}

@media (min-width: 1024px) {
  body {
    margin: 20px;
  }

  h2 {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 30px;
    letter-spacing: 1px;
  }

  .lettering {
    margin-bottom: 30px;
  }

  .projects {
    font-size: 40px;

    ul {
      li {
        display: block;

        span {
          font-family: "Helvetica-Neu";
        }
      }
    }
  }

  .contact {
    font-size: 40px;
    margin-top: 50px;

    ul li a {
      &:hover {
        padding: 15px;
      }
    }
  }
}
